.videoDetail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  overflow: hidden;
  max-width: 1700px;
  margin: 0 auto;
  &__player {
    .react-player {
      width: 100% !important;
      aspect-ratio: 16/9 !important;
      height: auto !important;
    }
  }

  &__details {
    h3 {
      color: #fff;
      margin: 10px 0;
    }

    h4 {
      margin: 0;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        color: #fff;
      }

      > div {
        display: flex;
        gap: 15px;
        span {
          color: #fff;
        }
      }
    }
  }

  &__relatedVideos {
    overflow: auto;
    > div {
      display: grid;
      gap: 10px;
      width: 100% !important;
      position: sticky;
      top: 0;

      > div {
        width: 100% !important;
      }

      .videoCard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        > a,
        img {
          width: 100% !important;
          border-radius: 10px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .videoDetail {
    height: calc(100vh - 95px);
    grid-template-columns: 2.25fr 1fr;
  }
}
